<%= form_with model: @thing, local: true do |form| %>

  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@thing.errors.count, 'error') %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @thing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name%>
  </p>

  <p>
    <%= form.label :tried %><br>
    <%= form.check_box :tried %>
  </p>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>